POSTGRES_VERSION=16.4-alpine
REDIS_VERSION=7.4-alpine
TWENTY_VERSION=0.39.0
CHATWOOT_VERSION=v3.15.0
POSTGRES_DB=leadhopper
POSTGRES_USER=leadhopper
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
REDIS_PORT=6379
TWENTY_PORT=3000
CHATWOOT_PORT=3001
